/*
 * Some styles based on HTML5 Boilerplate
 */

/* ==================================================================
*
*   Dev styles for testing. NOT FOR PRODUCTION
*
* -----------------------------------------------------------------*/

body:hover,
#content:hover {
    /*background: url(../img/grid-bkg.png) center 37px repeat-y;*/
}
* {
    /*opacity: .95;*/
}

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
    font-family: "Source Sans Pro", "Segoe UI Light", "Segoe UI", "helvetica neue", Helvetica, Arial, sans-serif;
}

body {
    font: 400 1em/1.5 "Source Sans Pro", "Segoe UI Light", "Segoe UI", "helvetica neue", Helvetica, Arial, sans-serif;
}
a {
    color: #0073cf;
    text-decoration:none;
    border-bottom:1px dashed #0073cf;
}
a:hover,
a:active,
a:visited:hover {
    color:#00b588;
    border-color:#00b588;
}
a:visited {
    color:#a612d1;
    text-decoration:none;
}
h1, h2, h3, h4, h5, h6,
.big,
.bigger,
.biggest {
    font-family: 'Arvo', 'Helvietica Neue', Arial, sans-serif;
    margin:0 0 24px;
    font-weight: bold;
}

input:focus,
input:active,
textarea:focus,
textarea:active {
    outline:0;
    color:#0073cf;
}
/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 24px 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

table {
    width:100%;
}

address {
    margin-bottom: 24px;
}

pre,
code {
  font-size: .8125em; /* 13x --> 13 ÷ 16  */
  line-height: 1.8461em; /* 24px --> 24 ÷ 13  */
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==================================================================
*
*   Colors
*
* -----------------------------------------------------------------*/
.blue10,
.blue10.no-hover:hover {
    background:#d6e1eb;
}
.blue30,
.blue30.no-hover:hover,
.blue10:hover {
    background:#a6c9e5;
}
.blue60,
.blue60.no-hover:hover,
.blue30:hover {
    background:#5fa4db;
}
.rcc-blue,
.rcc-blue.no-hover:hover,
.blue60:hover {
    background: #0073cf;
}
.blue130,
.blue130.no-hover:hover,
.rcc-blue:hover {
    background:#00457c;
}
.blue160,
.blue160.no-hover:hover,
.blue130:hover {
    background:#00233f;
}
.blue190,
.blue190.no-hover:hover,
.blue160:hover {
    background: #000c15;
}
.rcc-green,
.rcc-green.no-hover:hover {
    background: #00b588;
}
.rcc-green:hover {
    background: #007f5f;
}
.rcc-green10,
.rcc-green10.no-hover:hover {
    background: #d6e8e4;
}
.rcc-green10:hover,
.rcc-green30,
.rcc-green30.no-hover:hover {
    background: #a6ddcf;
}
.rcc-green30:hover,
.rcc-green60 {
    background:#5fccb1;
}
.green,
.green.no-hover:hover {
    background:#73cf00;
}
.green:hover {
    background:#519100;
}
.green10,
.green10.no-hover:hover {
    background: #e1ebd6;
}
.green10:hover,
.green30,
.green30.no-hover:hover {
    background: #c9e5a6;
}
.green30:hover,
.green60 {
    background: #a4db5f;
}
.orange,
.orange.no-hover:hover {
    background: #cf5c00;
}
.orange:hover {
    background: #914100;
}
.orange10,
.orange10.no-hover:hover {
    background: #ebdfd6;
}
.orange10:hover,
.orange30,
.orange30.no-hover:hover {
    background:#e5c2a6;
}
.orange30:hover,
.orange60 {
    background: #db965f;
}
.purple,
.purple.no-hover:hover {
    background:#a612d1;
}
.purple:hover {
    background: #750d93;
}
.purple10,
.purple10.no-hover:hover {
    background: #e7d8eb;
}
.purple10:hover,
.purple30,
.purple30.no-hover:hover {
    background: #d8ace5;
}
.purple30:hover,
.purple60 {
    background: #c36add;
}
.pink,
.pink.no-hover:hover {
    background:#cf0073;
}
.pink:hover {
    background:#910051;
}
.pink10,
.pink10.no-hover:hover {
    background: #ebd6e1;
}
.pink10:hover,
.pink30,
.pink30.no-hover:hover {
    background: #e5a6c9;
}
.pink30:hover,
.pink60 {
    background: #db5fa4;
}
.white,
.white.no-hover:hover,
.white a {
    background:#fff;
    color:#0073cf;
}
.white-grey,
.white-grey.no-hover:hover {
    background: #f9f9f9;
}
.white-grey:hover,
.light-grey,
.light-grey.no-hover:hover {
    background:#ddd;
}
.grey,
.grey.no-hover:hover,
.light-grey:hover {
    background:#575757;
}
.grey:hover {
    background: #3d3d3d;
}
.dark-grey,
.dark-grey.no-hover:hover,
.blue190:hover {
    background:#333;
}
.dark-grey:hover {
    background: #242424;
}




