.billboard-full-width {
	overflow: hidden;
	height: auto;
}
.has-post-thumbnail .attachment-billboard-page {
	width:100%;
	height: auto;
}
.billboard.no-post-thumbnail,
.billboard.no-post-thumbnail:hover {
	background: #a6c9e5 url(../img/tiles.png) repeat-x center 5px;
	height: 250px;
}

@media only screen and (min-width: 1366px) {
	.billboard-full-width {
		height: 360px;
	}
}
@media only screen and (max-width: 822px) {
	.billboard-full-width .attachment-billboard-page {
		height: auto;
	}
}
/* ==================================================================
*
*   RoyalSlider Billboard styles
*
* -----------------------------------------------------------------*/

.billboard-full-width .rsBullets {
	position:absolute;
	bottom:5%;
	width:100px;
	right:3%;
}

.billboard-full-width .rsBullet span {
	background:#fff;
	width:12px;
	height:12px;
}
.billboard-full-width .rsBullet.rsNavSelected span {
	background:#0074cf;
}
.billboard-caption > .container{
	top:10%;
}
.billboard-caption .rcc-blue{
	background:#0073cf;
	background:rgba(0, 115, 207, 0.9);
}
.billboard-caption .green{
	background:#73cf00;
	background:rgba(115, 207, 0, 0.9);
}
.billboard-caption .pink{
	background:#cf0073;
	background:rgba(207, 0, 115, 0.9);
}
.billboard-caption-content {
	width:320px;
	height:240px;
	padding:5px 10px;
	margin:0 5px;
}
@media only screen and (max-width: 719px) {
	.billboard-caption .container {
		top:0;
	}
	.billboard-caption-content {
		width:48%;
		margin: 0;
		padding:1%;
		height:auto;
	}
	.billboard-caption .rcc-blue,
	.billboard-caption .green,
	.billboard-caption .pink {
		background:none;
	}

}