.horz-menu-toggle {
	display: none;
}
.horz-menu a {
  border-bottom: none;
}
.horz-menu-list {
	list-style: none;
	*zoom: 1;
	padding:0;
	margin:0;
	float:left;
}
.horz-menu-list:before,
.horz-menu-list:after {
    content: " ";
    display: table;
}
.horz-menu-list:after {
    clear: both;
}
.horz-menu-sublist {
    list-style: none;
		margin:0;
		padding: 0;
		min-width: 15em;
}
.horz-menu-list li {
	position: relative;
}
.horz-menu-list > li {
    float: left;

}
.horz-menu-list > li > a {
    display: block;
}
/*.horz-menu-list li ul,*/
.horz-menu-dropdown {
    position: absolute;
    left: -9999px;
}
/*.is-hover > .horz-menu-sublist,*/
.is-hover > .horz-menu-dropdown {
    left: 0;
}
.horz-menu-sublist a {
    display: block;
    position: relative;
    z-index:100;
}

@media screen and (max-width: 817px) {
  .horz-menu .is-active {
    display: block;
  }
  .horz-menu-list {
  	float:none;
  }
  .horz-menu-list > li {
    float: none;
  }
	.horz-menu-sublist,
  .horz-menu-dropdown {
    display: block;
    width: 100%
	}
  .horz-menu-list > li.is-hover > .horz-menu-dropdown {
    position: static;
  }

}